@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
:root {
    --color-body: #fd0000;
    --color-heading: #eef3db;
    --color-base:  #000000;
    --color-base2: #000000;
    --color-brand: hsl(208, 47%, 39%);
    --color-brand2: #000000;
    --color-extra:#fd0000;
    --sidbar-width: 250px;
    --font-base: "Bai Jamjuree";
    --color-test1: #000000;
    --color-test2: #fd0000;
}
body{
    background-color: var(--color-test1);
    color: var(--color-test2);
    font-family:var(--font-base), sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color:var(--color-heading);
    font-weight:700;
    

}
a{
    text-decoration: none;
    color:var(--color-body);
    transition:akk 0.4s ease;
}
a:hover{
    color: white;
}
.pic{
    width:100%
    
}
.pic:hover{
    zoom: 80%;
      
}
/* Adding new hover styles */
.hover-image {
    transition: all 0.3s ease; /* Smooth transition effect */
}

.hover-image:hover {
    content: url('./assets/images/tesst.jpg'); /* Replace with your hover image path */
}
.full-height{
    min-height:100vh;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(14, 160, 179, 0.9);

}

.text-brand{
    color:var(--color-brand);
}
.bg-base{
    background-color: var(--color-base);
}
.shadow-effect{
    transition: all 0.5s;
}
.shadow-effect:hover{
    box-shadow:-18px 8px 8px 0 var(--color-brand)
}
.iconbox{
    width: 60px;
    height: 60px;
    display:  flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color:var(--color-brand);
    color:var(--color-base);
}
.iconbox:hover{
    color:var(--color-base2);
}
.social{
   
    display:  flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color:var(--color-base2);
}
.social:hover{
    color:whitesmoke;
}
.Portfolio-social{
   
    display:  flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color:var(--color-base);
    border-style: solid;
    border-width: 1px;
    border-color: aquamarine;
}
.Portfolio-social:hover{
    color:whitesmoke;
}
.social-link{
    display:flex;
  
}
/* nav-bar */
.navbar{
    background-color: var(--color-base);
}
.navbar .nav-link{
    font-weight:700;
    text-transform: uppercase;
    color:#fff;
}
.navbar .nav-link:hover{
    color: var(--color-brand);
}


@media(min-width:992px){
.navbar{
    min-height:100vh;
    width: var(--sidbar-width); 
    background: linear-gradient(hsla(5, 89%, 45%, 0.3), rgba(1, 3, 0, 0.0)), url(../images/diyo.jpg);
    background-size: cover;
    background-position: center;
}
.navbar-brand img{
border:8px solid var(--color-brand);
}
/* Content wrapper */
#content-wrapper{
    padding-left:var(--sidbar-width);
}
}
/* botton */
.btn{
    padding:12px 28px;
    font-weight:700;
}
btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}
.btn-brand:hover,
.btn-brand:focus{
    background-color:var(--color-brand2);
    color:var(--color-base);
    border-color: var(--color-brand);
}
.link-custom{
    font-weight: 700;
    position: relative;
}
.link-custom::after{
    content:"";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position:absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}
.link-custom:hover::after{
    width:100%;
}


input[type=text], [type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical ;
  
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.mail{
    color:  rgb(24, 48, 48);
}
.hancy{
    height: 200px;
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:8px solid var(--color-brand);
}

.wrapper{
    display: inline-flex;
    color:var(--color-test1);
}
.wrapper .static-txt{
    
    font-weight:650;
}
.wrapper .dynamic-txt{
 margin-left: 14px;
 height: 90px;
 line-height: 90px;
 overflow:hidden;
 
}
.dynamic-txt li{
    color:  aqua;
    list-style: none;
    
    font-weight:650;
   
    position: relative;
    top: 0;
    animation:slide 8s steps(4) infinite;

}
@keyframes slide{
    100%{
        top: -350px;

    }
}
.dynamic-txt li span{
    position: relative;
}
.dynamic-txt li span::after{
    content: "";
    position: absolute;
    left:0;
    height:100%;
    width:100%;
    background: #000000;
    border-left: 2px solid #fd0000;
    animation:typing 2s steps(20) infinite;

}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 0 0 35px;

    }
}
